body {
	background-image: url('LedZep.jpeg');
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.key {
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
	text-align: center;
	font-size: 24px;
	width: 60px;
	padding: 5px 0;
	transition: all .07s;
	float: left;
	margin-right: 20px;
	margin-top: 80px;
	border-radius: 0.1em;
}

.sound {
	display: block;
	font-size: 12px;
	color: #0BDCC7;
	font-weight: bold;
}

.playing {
	transform: scale(1.1);
	border-color: #0BDCC7;
	box-shadow: 0 0 10px #0BDCC7;
}